@model IEnumerable<MyField.Models.Meeting>

@{
    ViewData["Title"] = "Meetings";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_BackButton")
<h4 style="text-align:center;">Meetings</h4>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-borderless">
        <thead>
            <tr style="color:white;background-color: #324260; white-space: nowrap;">
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
               Venue
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Comments
            </th>
            <th>
                CreatedBy
            </th>
            <th>
                CreatedDateTime
            </th>
            <th>
                ModifiedBy
            </th>
            <th>
                ModifiedDateTime
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       <tr class="ellipsis">
            <td>
                @Html.DisplayFor(modelItem => item.MeetingTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalComments)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.FirstName)      @Html.DisplayFor(modelItem => item.CreatedBy.LastName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy.FirstName)   @Html.DisplayFor(modelItem => item.ModifiedBy.LastName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MeetingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MeetingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MeetingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
