@model IEnumerable<MyField.Models.TopScore>
@inject MyField.Interfaces.IEncryptionService encryptionService

<div class="players-container">
    <br />
    @if (Model.Any())
    {
        <div class="table-responsive">
            <table id="playersTable" class="table table-striped table-borderless">
                <thead>
                    <tr style="color:white;background-color: #324260; white-space: nowrap;">
                        <th>Player</th>
                        <th>Club</th>
                        <th>Goals</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Take(10))
                    {
                        var encryptedPlayerId = encryptionService.Encrypt(item.Player.Id);

                        <tr class="player-row" style="white-space: nowrap;" data-user-id="@encryptedPlayerId">
                            <td>
                                <img src="~/@item.Player.ProfilePicture" alt="@item.Player.FirstName" class="club-badge-image" style="border-radius: 50%; width: 50px; height: 50px;" />
                                @Html.DisplayFor(modelItem => item.Player.FirstName)
                                @Html.DisplayFor(modelItem => item.Player.LastName)
                                (#@Html.DisplayFor(modelItem => item.Player.JerseyNumber))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Player.Club.ClubName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfGoals)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">There are no top scores yet.</p>
    }
</div>

<script>
    document.querySelectorAll('#playersTable .player-row').forEach(row => {
        row.addEventListener('click', function () {
            const encryptedPlayerId = this.getAttribute('data-user-id');
            const url = '@Url.Action("PlayerProfile", "Users")';
            window.location.href = `${url}?userId=${encodeURIComponent(encryptedPlayerId)}`;
        });
    });
</script>
