
@model IEnumerable<MyField.Models.MatchReports>

@{
    ViewData["Title"] = ViewBag.CurrentSeason + " Matches Reports";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_BackButton")
<br />
<h4 class="text-center">@ViewBag.CurrentSeason Season Matches Reports</h4>
<br />
<div class="table-responsive">
    <table class="table table-striped table-borderless">
        <thead>
            <tr style="color:white;background-color: #324260; white-space: nowrap;">
                <th class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                    Category
                </th>
                <th class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Season
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.Season.LeagueYears)
                    </td>
                </tr>
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Overall matches
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.MatchesToBePlayedCount)
                    </td>
                </tr>
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Fixtured matches
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.FixturedMatchesCount)
                    </td>
                </tr>
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Unreleased matches
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.UnreleasedFixturesCount)
                    </td>
                </tr>
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Played matches
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.PlayedMatchesCounts)
                    </td>
                </tr>
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Postponed matches
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.PostponedMatchesCount)
                    </td>
                </tr>
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Interrupted matches
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.InterruptedMatchesCount)
                    </td>
                </tr>
                <tr class="ellipsis">
                    <td class="text-left vertical-align" style="width: 30%; padding-right: 20px;">
                        Matches rate
                    </td>
                    <td class="text-right vertical-align" style="width: 70%; padding-left: 20px;">
                        @Html.DisplayFor(modelItem => item.MatchesRate) %
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    </tbody>
</table>
</div>
