@model IEnumerable<MyField.Models.SportNews>

@{
    ViewData["Title"] = "Approved Sport News";
}
<div class="table-responsive">
    @if(Model.Any())
    {
        <table class="table table-striped table-borderless">
            <thead>
                <tr style="color:white;background-color: #324260; white-space: nowrap;">
                    <th>
                        Image
                    </th>
                    <th>
                        Heading
                    </th>
                    <th>
                        Published DateTime
                    </th>
                    <th>
                        Modified DateTime
                    </th>
                    <th>
                        ModifiedBy
                    </th>
                    <th>
                        AuthoredBy
                    </th>
                    <th>
                        PublishedBy
                    </th>
                    <th>
                        Body
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        More
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="ellipsis">
                        <td>
                            <div class="news-image-container" style="width:90px; height:90px;">
                                <img src="~/@item.NewsImage " alt="News image" class="club-badge-image" style="height:100%; width:100%; object-fit:cover;" />
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsHeading)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy.FirstName)                 @Html.DisplayFor(modelItem => item.ModifiedBy.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthoredBy.FirstName)                 @Html.DisplayFor(modelItem => item.AuthoredBy.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishedBy.FirstName)                 @Html.DisplayFor(modelItem => item.PublishedBy.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsBody)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsStatus)
                        </td>
                        <td style="white-space: nowrap;">
                            <a href="#" onclick="openSportNewsDetailsModal(@item.NewsId)">
                                <i class="fas fa-info-circle" style="color: #2E5A88;"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">There are no approved sport news at a moment</p>
    }
   
</div>
@* <div class="modal fade" id="sportNewsModal" tabindex="-1" role="dialog" aria-labelledby="sportNewsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sportNewsModalLabel">Sport News Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script>
    function openSportNewsDetailsModal(newsId) {
        $.ajax({
            url: '@Url.Action("Details", "SportNews")',
            type: 'GET',
            data: { id: newsId },
            success: function (data) {
                $('#sportNewsModal .modal-body').html(data);
                $('#sportNewsModal').modal('show');
            },
            error: function () {
                alert('Error loading sport news details.');
            }
        });
    }
</script> *@


