@using Microsoft.AspNetCore.Identity
@using MyField.Data
@inject SignInManager<UserBaseModel> SignInManager
@inject UserManager<UserBaseModel> UserManager
@inject Ksans_SportsDbContext _context
@using MyField.Models;
@using MyField.Services;
@inject IWebHostEnvironment WebHostEnvironment
@using Microsoft.EntityFrameworkCore


@{
    var user = await UserManager.GetUserAsync(User);

    var firstName = user.FirstName;
    var lastName = user.LastName;

    var userRole = _context.UserRoles
    .Where(ur => ur.UserId == user.Id)
    .Join(_context.Roles,
          ur => ur.RoleId,
          r => r.Id,
          (ur, r) => r.Name)
    .FirstOrDefault();

    string club = null;

    if (userRole == "Club Administrator")
    {
        var clubAdministrator = _context.ClubAdministrator
        .Include(c => c.Club)
        .Where(c => c.Id == user.Id)
        .FirstOrDefault();
        club = clubAdministrator?.Club?.ClubName;
    }
    else if (userRole == "Player")
    {
        var player = _context.Player
        .Include(p => p.Club)
        .Where(c => c.Id == user.Id)
        .FirstOrDefault();
        club = player?.Club?.ClubName;
    }
    else if (userRole == "Club Manager")
    {
        var clubManager = _context.ClubManager
       .Include(p => p.Club)
       .Where(c => c.Id == user.Id)
       .FirstOrDefault();
        club = clubManager?.Club?.ClubName;
    }

    var profilePhotoUrl = "";

    if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(user.ProfilePicture))
    {
        profilePhotoUrl = $"~/{user.ProfilePicture}";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Title"] - K&S Foundation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyField.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <style>
        .navLinks {
            display: flex;
            align-items: center;
            height: 100%;
        }

            .navLinks .nav-item {
                margin-right: 10px;
                padding: 0;
            }

        .navbar-nav {
            display: flex;
            align-items: center;
        }

        .nav-tabs .nav-link:focus,
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link:active {
            background-color: #007bff !important;
            color: white;
        }

        .nav-link.active {
            color: white !important;
        }

        .overflow-auto {
            overflow-x: auto;
            white-space: nowrap;
        }

            .overflow-auto::-webkit-scrollbar {
                display: none;
            }

        .overflow-auto {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .nav-item {
            bottom: 0 !important;
        }

        .tab-container::-webkit-scrollbar {
            display: none;
        }

        .tab-container {
            -ms-overflow-style: none; 
            scrollbar-width: none; 
        }

    </style>

</head>



<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="loginNav">
            <div class="container-fluid d-flex align-items-center justify-content-between">

                <div class="d-flex align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#menu-toggle" id="menu-toggle" style="font-size: 26px; color: white; text-decoration: none; margin-right: 10px;">&#9776;</a>

                    }
                    else
                    {
                        <a class="navbar-brand ml-2" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Ksans-sports</a>
                    }
                </div>

                <div>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="homeTabsNav">
                <div class="container-fluid">
                    <div class="tab-container" style="overflow-x: auto; white-space: nowrap;">
                        <ul class="nav nav-tabs" id="sportsTabs" role="tablist" style="display: flex; flex-wrap: nowrap;">
                            <li class="nav-item">
                                <button class="nav-link active" id="sportnews-tab" data-bs-toggle="tab" data-bs-target="#sportnews" type="button" role="tab" aria-controls="sportnews" aria-selected="true" onclick="loadTab('sportnews')">Sport news</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="fixtures-tab" data-bs-toggle="tab" data-bs-target="#fixtures" type="button" role="tab" aria-controls="fixtures" aria-selected="false" onclick="loadTab('fixtures')">Fixtures</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="standings-tab" data-bs-toggle="tab" data-bs-target="#standings" type="button" role="tab" aria-controls="standings" aria-selected="false" onclick="loadTab('standings')">Standings</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="matchresults-tab" data-bs-toggle="tab" data-bs-target="#matchresults" type="button" role="tab" aria-controls="matchresults" aria-selected="false" onclick="loadTab('matchresults')">Results</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="clubs-tab" data-bs-toggle="tab" data-bs-target="#clubs" type="button" role="tab" aria-controls="clubs" aria-selected="false" onclick="loadTab('clubs')">Clubs</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="players-tab" data-bs-toggle="tab" data-bs-target="#players" type="button" role="tab" aria-controls="players" aria-selected="false" onclick="loadTab('players')">Players</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


        <div id="wrapper">
            <div id="sidebar-wrapper" style="overflow-y: auto; scrollbar-width: thin; scrollbar-color: transparent transparent;">
                <div style="padding: 30px; margin-top:0; background-color: #000325; color: white; position: sticky; top: 0; z-index: 1; text-align: center; object-fit:cover;">
                    <img src="@Url.Content("~/" + user.ProfilePicture)" alt="Profile Photo" style="width: 70px; height: 70px; border-radius: 50%; margin: 0 auto; object-fit:cover">
                    <div style="margin-top: 10px;">

                        <div style="font-size: 16px; font-weight: bold;">@firstName @lastName</div>

                    </div>
                    <button style="background-color: transparent; border: 1px solid #007bff; color: #007bff; padding: 4px 9px; border-radius: 5px; font-size: 14px; cursor: pointer; margin-top: 10px;">
                        <a style="text-decoration: none;" asp-controller="Users" asp-action="UserProfile" asp-route-userId="@user.Id">Profile <i class="fa fa-arrow-right"></i></a>
                    </button>
                </div>
                <div id="loading-spinner" style="display: none; text-align: center; margin-top: 20px;">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
                <ul class="sidebar-nav" style="list-style: none; padding: 0;">
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-home" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="Index" class="nav-link text-light">Home</a>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-shield-alt" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Users" asp-action="PasswordAndSecurity" class="nav-link text-light">Account and security</a>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-user-shield" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="PrivacyPolicy" class="nav-link text-light">Privacy policy</a>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-info-circle" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="AboutUs" class="nav-link text-light">About us</a>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; list-style-type: none;">
                        <div style="display: flex; align-items: center;">
                            <i class="fa fa-user-cog" style="color: white; margin-right: 5px;"></i>
                            <a href="#supportSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link text-light d-flex align-items-center">
                                Support
                                <i style="margin-left: 50px; margin-top: 1px;" class="fa fa-caret-down ml-2 caret-rotate collapsed"></i>
                            </a>
                        </div>
                        <ul class="collapse list-unstyled collapsible-menu" id="supportSubmenu" style="margin-left: 35px;">
                            <li style="margin-top: 10px; list-style-type: none;">
                                <a href="https://www.facebook.com/groups/1059539181218342/" target="_blank" class="nav-link text-light">
                                    <i class="fab fa-facebook" style="color: white; margin-right: 5px;"></i>
                                    Facebook
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-envelope" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="ContactUs" class="nav-link text-light">Contact Us</a>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-history" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="ActivityLogs" asp-action="MyActivityLogs" class="nav-link text-light">Activity logs</a>
                    </li>

                    <li class="nav-login-item" style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <i class="fa fa-sign-out-alt" style="color: white; margin-right: 10px;"></i>
                            <button type="submit" class="nav-login-link" style="color: white; background-color: transparent; border: none; cursor: pointer;">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>


    </header>
    <div id="loading-overlay">
        <div class="loading-container">
            <div class="loading-spinner"></div>
            <div class="loading-text">Loading...</div>
        </div>
    </div>

    <div id="page-content-wrapper" class="main-content">
        <div class="container-fluid" style="padding-right:0; padding-left:0;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <a asp-controller="Reports" asp-action="TestFeedback" class="floating-button">
        <span class="rotate">Share Feedback</span>
    </a>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {

        $(document).on('click', '.action-button', function () {
            var id = $(this).data('id');
            var $actionTab = $('#actionTab-' + id);
            $('.action-tab').not($actionTab).hide();
            $actionTab.toggle();
        });

        $(document).on('click', function (event) {
            var $target = $(event.target);
            if (!$target.closest('.action-tab').length && !$target.closest('.action-button').length) {
                $('.action-tab').hide();
            }
        });
    });


    document.addEventListener("DOMContentLoaded", function () {
        function adjustBodyPadding() {
            var loginNav = document.getElementById('loginNav');
            var homeTabsNav = document.getElementById('homeTabsNav');

            var loginNavHeight = loginNav ? loginNav.offsetHeight : 0;
            var homeTabsNavHeight = homeTabsNav ? homeTabsNav.offsetHeight : 0;

            var totalPadding = loginNavHeight + homeTabsNavHeight;
            document.body.style.paddingTop = totalPadding + 'px';
        }

        adjustBodyPadding();

        window.addEventListener('resize', adjustBodyPadding);
    });


    function loadTab(tabName) {

        $('.nav-link').removeClass('active');

        $('#' + tabName + '-tab').addClass('active');

        $('.tab-pane').removeClass('show active');

        $('#' + tabName).addClass('show active');

        if ($('#' + tabName).html().trim() === '') {
            var url;
            if (tabName === 'sportnews') {
                url = '@Url.Action("SportNewsIndex", "SportNews")';
            } else if (tabName === 'fixtures') {
                url = '@Url.Action("LeagueFixtures", "Fixtures")';
            } else if (tabName === 'standings') {
                url = '@Url.Action("Index", "Standings")';
            } else if (tabName === 'matchresults') {
                url = '@Url.Action("LeagueResults", "MatchResults")';
            } else if (tabName === 'clubs') {
                url = '@Url.Action("LeagueClubs", "Clubs")';
            } else if (tabName === 'players') {
                url = '@Url.Action("AllDivisionPlayers", "Users")';
            }

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#' + tabName).html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Error:", errorThrown);
                }
            });
        }
    }

    $(document).ready(function () {
        loadTab('sportnews');
    });



    $(window).on('load', function () {
        var loadingOverlay = $('#loading-overlay');

        loadingOverlay.hide();

        $('.loading-spinner').css('animation', 'none');
    });

    $(document).on('click', 'a:not([href^="#"])', function () {
        var loadingOverlay = $('#loading-overlay');

        loadingOverlay.show();
    });


    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#page-content-wrapper").toggleClass("shifted");
        $("#homeTabsNav").toggleClass("shifted");
        $("#loginNav").toggleClass("shifted");
    });

    $('.collapsible-menu').on('show.bs.collapse', function () {
        $(this).prev().find('.caret-rotate').removeClass('collapsed');
    }).on('hide.bs.collapse', function () {
        $(this).prev().find('.caret-rotate').addClass('collapsed');
    });
</script>

@RenderSection("Scripts", required: false)
