@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserBaseModel> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Title"] - K&S Foundation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyField.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <style>
        .navLinks {
            display: flex;
            align-items: center;
            height: 100%;
        }

            .navLinks .nav-item {
                margin-right: 10px;
                padding: 0;
            }

        .navbar-nav {
            display: flex;
            align-items: center;
        }

        .nav-tabs .nav-link:focus,
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link:active {
            background-color: #007bff !important;
            color: white;
        }

        .nav-link.active {
            color: white !important;
        }

        .overflow-auto {
            overflow-x: auto;
            white-space: nowrap;
        }

            .overflow-auto::-webkit-scrollbar {
                display: none;
            }

        .overflow-auto {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .nav-item {
            bottom: 0 !important;
        }


        .tab-container::-webkit-scrollbar {
            display: none;
        }

        .tab-container {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }


    </style>

</head>



<body>

    <div id="loading-overlay">
        <div class="loading-container">
            <div class="loading-spinner"></div>
            <div class="loading-text">Loading...</div>
        </div>
    </div>


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="loginNav">
            <div class="container-fluid d-flex align-items-center justify-content-between">

                <div class="d-flex align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#menu-toggle" id="menu-toggle" style="font-size: 26px; color: white; text-decoration: none; margin-right: 10px;">&#9776;</a>
                        <a class="navbar-brand ml-2" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Ksans-sports</a>
                    }
                    else
                    {
                        <a class="navbar-brand ml-2" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Ksans-sports</a>
                    }
                </div>

                <div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>


        @if (User.Identity.IsAuthenticated)
        {

        }
        else
        {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="homeTabsNav">
                    <div class="container-fluid">
                    <div class="tab-container" style="overflow-x: auto; white-space: nowrap;">
                        <ul class="nav nav-tabs" id="sportsTabs" role="tablist" style="display: flex; flex-wrap: nowrap;">
                            <li class="nav-item">
                                <button class="nav-link active" id="sportnews-tab" data-bs-toggle="tab" data-bs-target="#sportnews" type="button" role="tab" aria-controls="sportnews" aria-selected="true" onclick="loadTab('sportnews')">Sport news</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="fixtures-tab" data-bs-toggle="tab" data-bs-target="#fixtures" type="button" role="tab" aria-controls="fixtures" aria-selected="false" onclick="loadTab('fixtures')">Fixtures</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="standings-tab" data-bs-toggle="tab" data-bs-target="#standings" type="button" role="tab" aria-controls="standings" aria-selected="false" onclick="loadTab('standings')">Standings</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="matchresults-tab" data-bs-toggle="tab" data-bs-target="#matchresults" type="button" role="tab" aria-controls="matchresults" aria-selected="false" onclick="loadTab('matchresults')">Results</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="clubs-tab" data-bs-toggle="tab" data-bs-target="#clubs" type="button" role="tab" aria-controls="clubs" aria-selected="false" onclick="loadTab('clubs')">Clubs</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }

    </header>
    <div id="page-content-wrapper" class="main-content">
        <div class="container-fluid" style="padding-right:0; padding-left:0; margin-right:0!important;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <a asp-controller="Reports" asp-action="TestFeedback" class="floating-button">
        <span class="rotate">Share Feedback</span>
    </a>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var baseUrl = window.location.href.split('#')[0];
    var previousPage = null;
    var loadingOverlay = $('#loading-overlay');

    // Show loading overlay when navigation starts
    $(document).on('click', 'a:not([href^="#"])', function () {
        loadingOverlay.show();
    });

    // Hide loading overlay when navigation completes
    $(document).on('readystatechange', function () {
        if (document.readyState === 'complete') {
            loadingOverlay.hide();
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        function adjustBodyPadding() {
            var loginNav = document.getElementById('loginNav');
            var homeTabsNav = document.getElementById('homeTabsNav');

            var loginNavHeight = loginNav ? loginNav.offsetHeight : 0;
            var homeTabsNavHeight = homeTabsNav ? homeTabsNav.offsetHeight : 0;

            var totalPadding = loginNavHeight + homeTabsNavHeight;
            document.body.style.paddingTop = totalPadding + 'px';
        }

        adjustBodyPadding();

        window.addEventListener('resize', adjustBodyPadding);
    });

    function loadTab(tabName) {

        $('.nav-link').removeClass('active');

        $('#' + tabName + '-tab').addClass('active');

        $('.tab-pane').removeClass('show active');

        $('#' + tabName).addClass('show active');

        if ($('#' + tabName).html().trim() === '') {
            var url;
            if (tabName === 'sportnews') {
                url = '@Url.Action("SportNewsIndex", "SportNews")';
            } else if (tabName === 'fixtures') {
                url = '@Url.Action("LeagueFixtures", "Fixtures")';
            } else if (tabName === 'standings') {
                url = '@Url.Action("Index", "Standings")';
            } else if (tabName === 'matchresults') {
                url = '@Url.Action("LeagueResults", "MatchResults")';
            } else if (tabName === 'clubs') {
                url = '@Url.Action("LeagueClubs", "Clubs")';
            }

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#' + tabName).html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Error:", errorThrown);
                }
            });
        }
    }

    $(document).ready(function () {
        loadTab('sportnews');
    });

    // Handle clicks on navigation links
    $('.nav-link').click(function (e) {
        e.preventDefault();
        var target = $(this).attr('href');

        // Close previous page
        closePreviousPage();

        // Load tab content
        loadTabContent(target);

        // Update active state of navigation links
        $('.nav-link').removeClass('active');
        $(this).addClass('active');

        // Update URL
        var newUrl = baseUrl + target;
        window.history.pushState(null, '', newUrl);

        // Store current page as previous page
        previousPage = newUrl;
    });

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#page-content-wrapper").toggleClass("shifted");
        $("#homeTabsNav").toggleClass("shifted");
        $("#loginNav").toggleClass("shifted");
    });
</script>

@RenderSection("Scripts", required: false)
</html>
