@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserBaseModel> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewData["Title"] - K&S Foundation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyField.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=YOUR_TRACKING_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'YOUR_TRACKING_ID');
    </script>


</head>

<style>

    
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #000325;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}


#menu.show {
    transform: translateY(0);
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

#menu ul li a {
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
    text-decoration: none;
}

#menu-toggle {
    cursor: pointer;
}

#menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}
</style>


<body>
    <div id="overlay" class="overlay"></div>

    <div id="loading-overlay">
        <div class="loading-container">
            <div class="loading-spinner"></div>
            <div class="loading-text">Loading...</div>
        </div>
    </div>


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="loginNav">
            <div class="container-fluid d-flex align-items-center justify-content-between">

                <div class="d-flex align-items-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#menu-toggle" id="menu-toggle" style="font-size: 26px; color: white; text-decoration: none; margin-right: 10px; padding-right:10px;">&#9776;</a>
                        <a class="navbar-brand ml-2" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Ksans-sports</a>
                    }
                    else
                    {
                        <a href="#menu-toggle" id="menu-toggle" style="font-size: 26px; color: white; text-decoration: none;">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <a class="navbar-brand ml-2" asp-area="" asp-controller="Home" asp-action="Index" style="color:white;">Ksans-sports</a>
                    }
                </div>

                <div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>


        @if (User.Identity.IsAuthenticated)
        {

        }
        else
        {

                <nav class="navbar navbar-expand-sm navbar-toggleable-sm" id="homeTabsNav">
                    <div class="container-fluid">
                    <div class="tab-container" style="overflow-x: auto; white-space: nowrap;">
                        <ul class="nav nav-tabs" id="sportsTabs" role="tablist" style="display: flex; flex-wrap: nowrap;">
                            <li class="nav-item">
                                <button class="nav-link active" id="sportnews-tab" data-bs-toggle="tab" data-bs-target="#sportnews" type="button" role="tab" aria-controls="sportnews" aria-selected="true" onclick="loadTab('sportnews')">Sport news</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="fixtures-tab" data-bs-toggle="tab" data-bs-target="#fixtures" type="button" role="tab" aria-controls="fixtures" aria-selected="false" onclick="loadTab('fixtures')">Fixtures</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="standings-tab" data-bs-toggle="tab" data-bs-target="#standings" type="button" role="tab" aria-controls="standings" aria-selected="false" onclick="loadTab('standings')">Standings</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="matchresults-tab" data-bs-toggle="tab" data-bs-target="#matchresults" type="button" role="tab" aria-controls="matchresults" aria-selected="false" onclick="loadTab('matchresults')">Results</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="clubs-tab" data-bs-toggle="tab" data-bs-target="#clubs" type="button" role="tab" aria-controls="clubs" aria-selected="false" onclick="loadTab('clubs')">Clubs</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div id="menu" class="top-menu">
                <div id="menu-close" onclick="toggleMenu()">&times;</div>
                <ul class="sidebar-nav" style="list-style: none; padding: 0;">
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-user-shield" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="PrivacyPolicy" class="nav-link text-light">Privacy policy</a>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-info-circle" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="AboutUs" class="nav-link text-light">About us</a>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; list-style-type: none;">
                        <div style="display: flex; align-items: center;">
                            <i class="fa fa-user-cog" style="color: white; margin-right: 5px;"></i>
                            <a href="#supportSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link text-light d-flex align-items-center">
                                Support
                                <i style="margin-left: 50px; margin-top: 1px;" class="fa fa-caret-down ml-2 caret-rotate collapsed"></i>
                            </a>
                        </div>
                        <ul class="collapse list-unstyled collapsible-menu" id="supportSubmenu" style="margin-left: 35px;">
                            <li style="margin-top: 10px; list-style-type: none;">
                                <a href="https://www.facebook.com/groups/1059539181218342/" target="_blank" class="nav-link text-light">
                                    <i class="fab fa-facebook" style="color: white; margin-right: 5px;"></i>
                                    Facebook
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-file-contract" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="TermsAndConditions" class="nav-link text-light">Terms & conditions</a>
                    </li>

                    <li style="margin-top: 20px; margin-left: 30px; display: flex; align-items: center;">
                        <i class="fa fa-envelope" style="color: white; margin-right: 5px;"></i>
                        <a asp-controller="Home" asp-action="ContactUs" class="nav-link text-light">Contact Us</a>
                    </li>
                </ul>
            </div>

        }

    </header>
    <div id="page-content-wrapper" class="main-content">
        <div class="container-fluid" style="padding-right:0; padding-left:0; margin-right:0!important;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <a asp-controller="Reports" asp-action="TestFeedback" class="floating-button">
        <span class="rotate">Share Feedback</span>
    </a>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  

    $(document).ready(function () {

        $(document).on('click', '.action-button', function () {
            var id = $(this).data('id');
            var $actionTab = $('#actionTab-' + id);
            $('.action-tab').not($actionTab).hide();
            $actionTab.toggle();
        });

        $(document).on('click', function (event) {
            var $target = $(event.target);
            if (!$target.closest('.action-tab').length && !$target.closest('.action-button').length) {
                $('.action-tab').hide();
            }
        });
    });

    function toggleMenu() {
        $('#menu').toggleClass('show');
        $('#overlay').toggle(); 
    }

    $('#menu-toggle').on('click', function (e) {
        e.preventDefault();
        toggleMenu();
    });

    $('#overlay').on('click', function () {
        $('#menu').removeClass('show');
        $(this).hide();
    });



    document.addEventListener("DOMContentLoaded", function () {
        function adjustBodyPadding() {
            var loginNav = document.getElementById('loginNav');
            var homeTabsNav = document.getElementById('homeTabsNav');

            var loginNavHeight = loginNav ? loginNav.offsetHeight : 0;
            var homeTabsNavHeight = homeTabsNav ? homeTabsNav.offsetHeight : 0;

            var totalPadding = loginNavHeight + homeTabsNavHeight;
            document.body.style.paddingTop = totalPadding + 'px';
        }

        adjustBodyPadding();

        window.addEventListener('resize', adjustBodyPadding);
    });


    function loadTab(tabName) {

        $('.nav-link').removeClass('active');

        $('#' + tabName + '-tab').addClass('active');

        $('.tab-pane').removeClass('show active');

        $('#' + tabName).addClass('show active');

        if ($('#' + tabName).html().trim() === '') {
            var url;
            if (tabName === 'sportnews') {
                url = '@Url.Action("SportNewsIndex", "SportNews")';
            } else if (tabName === 'fixtures') {
                url = '@Url.Action("LeagueFixtures", "Fixtures")';
            } else if (tabName === 'standings') {
                url = '@Url.Action("Index", "Standings")';
            } else if (tabName === 'matchresults') {
                url = '@Url.Action("LeagueResults", "MatchResults")';
            } else if (tabName === 'clubs') {
                url = '@Url.Action("LeagueClubs", "Clubs")';
            } else if (tabName === 'players') {
                url = '@Url.Action("AllDivisionPlayers", "Users")';
            }

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#' + tabName).html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Error:", errorThrown);
                }
            });
        }
    }

    $(document).ready(function () {
        loadTab('sportnews');
    });



    $(window).on('load', function () {
        var loadingOverlay = $('#loading-overlay');

        loadingOverlay.hide();

        $('.loading-spinner').css('animation', 'none');
    });

    $(document).on('click', 'a:not([href^="#"])', function () {
        var loadingOverlay = $('#loading-overlay');

        loadingOverlay.show();
    });
</script>

@RenderSection("Scripts", required: false)

</html>
