@model IEnumerable<MyField.Models.Transfer>

<br />
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-borderless">
            <thead>
                <tr style="color:white;background-color: #324260; white-space: nowrap;">
                    <th>
                        Player
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Jersey number
                    </th>
                    <th>
                        Current club
                    </th>
                    <th>
                        Buyer club
                    </th>
                    <th>
                        Market value (ZAR)
                    </th>
                    <th>
                        Sale status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="white-space:nowrap;">
                        <td>
                            <img src="~/@item.Player.ProfilePicture" alt="@item.Player.FirstName" class="club-badge-image" style="border-radius: 50%; width: 50px; height: 50px;" />
                            @Html.DisplayFor(modelItem => item.Player.FirstName)
                            @Html.DisplayFor(modelItem => item.Player.LastName)
                        </td>
                        <td> @Html.DisplayFor(modelItem => item.Player.Position)</td>
                        <td> @Html.DisplayFor(modelItem => item.Player.JerseyNumber)</td>
                        <td class="column-max-width">
                            <img src="~/@item.SellerClub.ClubBadge" alt="@item.SellerClub.ClubName" class="club-badge-image" style="margin-right: 20px;" />
                            @Html.DisplayFor(modelItem => item.SellerClub.ClubName)
                        </td>
                        <td class="column-max-width">
                            <img src="~/@item.CustomerClub.ClubBadge" alt="@item.CustomerClub.ClubName" class="club-badge-image" style="margin-right: 20px;" />
                            @Html.DisplayFor(modelItem => item.CustomerClub.ClubName)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Player.MarketValue)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">There are no paid player transfers yet.</p>
}