@model IEnumerable<MyField.Models.Maintainance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-borderless">
        <thead>
            <tr style="color:white;background-color: #324260; white-space: nowrap;">
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolvedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintainanceDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maintainanceRequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       <tr class="ellipsis">
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintainanceDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maintainanceRequestStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaintainanceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaintainanceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaintainanceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
