@model IEnumerable<MyField.Models.Fixture>
@inject MyField.Interfaces.IEncryptionService encryptionService
<br />
<div class="fixtures-match-container" style="width:100%; padding-right:10px; padding-left:10px;">
    @if (Model.Any())
    {
        <div class="row">
            @foreach (var group in Model.OrderBy(item => item.KickOffDate).GroupBy(item => item.KickOffDate))
            {
                <div class="col-12 mb-2 mt-2">
                    <h5 class="text-center date-background">@group.Key.ToString("dddd, MMMM d, yyyy")</h5>
                </div>

                @foreach (var item in group)
                {
                    var encryptedFixtureId = encryptionService.Encrypt(item.FixtureId);

                    <div class="col-12 mb-3">
                        <div class="card h-100 d-flex flex-column justify-content-center position-relative">
                            <div class="card-body text-center">
                                <p class="card-text">
                                    @if (item.HomeTeam != null && item.AwayTeam != null)
                                    {
                                        <span class="@((item.FixtureStatus == FixtureStatus.Postponed) ? "text-decoration-line-through" : "")">
                                            <span class="club-name-full">@Html.DisplayFor(modelItem => item.HomeTeam.ClubName)</span>
                                            <span class="club-name-abbr">@Html.DisplayFor(modelItem => item.HomeTeam.ClubAbbr)</span>
                                            <img src="~/@item.HomeTeam.ClubBadge" alt="@item.HomeTeam.ClubName" class="club-badge-image" />
                                            <span class="font-weight-bold">&nbsp;VS&nbsp;</span>
                                            <img src="~/@item.AwayTeam.ClubBadge" alt="@item.AwayTeam.ClubName" class="club-badge-image" />
                                            <span class="club-name-full">@Html.DisplayFor(modelItem => item.AwayTeam.ClubName)</span>
                                            <span class="club-name-abbr">@Html.DisplayFor(modelItem => item.AwayTeam.ClubAbbr)</span>
                                        </span>
                                    }
                                </p>
                                <p class="card-text">
                                    <span class="@((item.FixtureStatus == FixtureStatus.Postponed) ? "text-decoration-line-through" : "")">
                                        @item.KickOffDate.ToString("ddd, dd/MM/yyyy"), @item.KickOffTime.ToString("HH:mm") -  @Html.DisplayFor(modelItem => item.Location)
                                    </span>
                                </p>
                                @if (item.FixtureStatus == FixtureStatus.Postponed)
                                {
                                    <p class="card-text text-primary">
                                        @item.FixtureStatus
                                    </p>
                                }
                                else if (item.FixtureStatus == FixtureStatus.Interrupted)
                                {
                                    <p class="card-text text-danger">
                                        @item.FixtureStatus
                                    </p>
                                }
                                else if (item.FixtureStatus == FixtureStatus.Live)
                                {
                                    <p style="color:blue;">
                                        @item.FixtureStatus <i class="fa fa-rss-square"></i>
                                    </p>
                                }
                                else
                                {
                                    
                                }
                            </div>

                            @if(item.FixtureStatus == FixtureStatus.Live)
                            {
                                <div class="card-footer">
                                    <div class="d-flex justify-content-end">
                                        <a asp-controller="Lives" asp-action="StartLive" asp-route-fixtureId="@encryptedFixtureId" class="btn btn-sm btn-primary">
                                            Live Scores  <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="card-footer">
                                    <div class="d-flex justify-content-end">
                                        <a asp-action="FixtureDetailsFans" asp-route-fixtureId="@encryptedFixtureId" class="btn btn-sm">
                                            <i class="fas fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">There are no scheduled matches yet.</p>
    }
</div>
