@model IEnumerable<MyField.Models.MatchOfficials>

@{
    ViewData["Title"] = "FixtureMatchOfficials";
}

<h1>FixtureMatchOfficials</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fixture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refeere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssistantOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssistantTwo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refeere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssistantOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssistantTwo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatchOfficialsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchOfficialsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchOfficialsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
