@model IEnumerable<MyField.ViewModels.ActivityLogViewModel>
<br />
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-borderless">
            <thead>
                <tr style="color:white;background-color: #324260; white-space:nowrap;">
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Club</th>
                    <th>Activity</th>
                    <th>Time Stamp</th>
                    <th>Device</th>
                    <th>Browser</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="ellipsis">
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.ClubName</td>
                        <td style="white-space:normal; width:600px!important;">@item.Activity</td>
                        <td>@item.Timestamp</td>
                        <td>@item.DeviceDetails</td>
                        <td>@item.BrowserDetails</td>
                        <td>@item.LocationDetails</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">
        There are no activity logs yet.
    </p>
}
