@model IEnumerable<MyField.Models.ActivityLog>


<br />

<br />
@await Html.PartialAsync("_HomeButton")
<br />
<h4 class="text-center">Activity logs</h4>
<br />

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-borderless">
            <thead>
                <tr style="color:white;background-color: #324260; white-space:nowrap;">
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Time Stamp</th>
                    <th>Device</th>
                    <th>Browser</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="ellipsis">
                        <td>@Html.DisplayFor(modelItem => item.UserBaseModel.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserBaseModel.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceInfo.DeviceName),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.OSName),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.OSVersion),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.DeviceModel),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.IpAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceInfo.Browser),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.BrowserVersion),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.DeviceModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceInfo.City),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.PostalCode),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.Region),
                            @Html.DisplayFor(modelItem => item.DeviceInfo.Country),
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">
        There are no activity logs yet.
    </p>
}
