@model MyField.Models.Club

@{
    ViewData["Title"] = ViewBag.ClubName;
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_HomeButton")

<h4 class="text-center">@ViewBag.ClubName</h4>
<br />

<div class="club-list-container">
    @if (TempData["Message"] != null)
    {
        <div id="tempDataMessage" class="alert @(TempData["Message"].ToString().Contains("successfully") ? "alert-success" : "alert-danger")" role="alert">
            @TempData["Message"]
            <span class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </span>
        </div>
    }
    <ul class="clubs-list" style="border: none !important; list-style-type: none; padding: 0;">
        <li style="margin-bottom: 10px;">
            <div class="my-club-card mx-auto">

                <div class="my-club-card-header text-center">
                    <h5 class="my-club-card-title mb-0">@Html.DisplayFor(model => model.ClubName)</h5>
                </div>

                <div class="my-club-card-body text-center">
                    <img src="~/@Model.ClubBadge" alt="@Model.ClubName" class="my-club-badge-image" />
                    <p>@Html.DisplayFor(model => model.ClubSummary)</p>
                </div>

                <div class="my-club-card-footer text-right">
                    @if (User.IsInRole("Club Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.ClubId" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-pen"></i> Edit
                        </a>
                    }

                    <a asp-action="Details" asp-route-id="@Model.ClubId" class="btn btn-outline-info btn-sm">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

@section Scripts {
    <script>
        setTimeout(function () {
            var tempDataMessage = document.getElementById("tempDataMessage");
            if (tempDataMessage) {
                tempDataMessage.style.display = "none";
            }
        }, 3000);
    </script>
}
