@model IEnumerable<MyField.Models.SportNews>

@{
    ViewData["Title"] = "Approved Sport News";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}


<br />
@await Html.PartialAsync("_BackButton")
<h4 class="text-center">Approved Sport News</h4>
<br />

<div class="table-responsive">
    <table class="table table-striped table-borderless">
        <thead>
            <tr style="color:white;background-color: #324260; white-space: nowrap;">
                <th>
                    @Html.DisplayNameFor(model => model.NewsImage)
                </th>
                <th class="sport-news-heading-column">
                    @Html.DisplayNameFor(model => model.NewsHeading)
                </th>
                <th>
                    Published Date
                </th>
                <th>
                    Published Time
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsStatus)
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr class="ellipsis">
                    <td>
                        <img src="~/@item.NewsImage" alt="News Image" class="sport-news-image">
                    </td>
                    <td class="sport-news-heading-column">
                        @Html.DisplayFor(modelItem => item.NewsHeading)
                    </td>
                    <td>
                        @item.PublishedDate.ToString("dd MMM yyyy")
                    </td>
                    <td>
                        @item.PublishedDate.ToString("HH : MM")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedBy.FirstName) @Html.DisplayFor(modelItem => item.PublishedBy.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewsStatus)
                    </td>
                    <td style="white-space: nowrap;">
                        <a href="@Url.Action("Details", "SportNews", new { newsId = item.NewsId })">
                            <i class="fas fa-info-circle" style="color: #2E5A88;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
