@model IEnumerable<MyField.Models.SportNews>

@{
    ViewData["Title"] = "Rejected Sport News";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_BackButton")
<h4 class="text-center">Rejected Sport News</h4>
<br />
<div class="table-responsive">
    <table class="table table-striped table-borderless">
        <thead>
            <tr style="color:white;background-color: #324260; white-space: nowrap;">
            <th>
                @Html.DisplayNameFor(model => model.NewsHeading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RejectedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RejectedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthoredBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsStatus)
            </th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       <tr class="ellipsis">
            <td>
                @Html.DisplayFor(modelItem => item.NewsHeading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy.FirstName)        @Html.DisplayFor(modelItem => item.ModifiedBy.LastName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RejectedDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RejectedBy.FirstName)          @Html.DisplayFor(modelItem => item.RejectedBy.LastName)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AuthoredBy.FirstName)          @Html.DisplayFor(modelItem => item.AuthoredBy.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
                <td style="white-space: nowrap;">
                    <a href="@Url.Action("Details", "SportNews", new { id = item.NewsId })">
                        <i class="fas fa-info-circle" style="color: #2E5A88;"></i>
                    </a>
                </td>
@*                     <td class="text-right">
                        <button class="btn btn-primary btn-sm action-button" type="button" data-id="@item.ClubId">
                            Actions
                        </button>
                        <div class="action-tab" id="actionTab-@item.ClubId" style="display: none;">
                            <a class="tab-item" href="@Url.Action("RejoinSeason", "Clubs", new { clubId = item.ClubId })">
                                <i class="fas fa-sign-in-alt" style="color: #28a745;"></i> Rejoin
                            </a>
                            <a class="tab-item" href="@Url.Action("Edit", "Clubs", new { id = item.ClubId })">
                                <i class="tab-item" style="color: blue;"></i> Update
                            </a>
                            <a class="tab-item" href="@Url.Action("SuspendClub", "Clubs", new { id = item.ClubId })">
                                <i class="fas fa-ban" style="color: #dc3545;"></i> Suspend
                            </a>
                            <a class="tab-item" href="@Url.Action("UnsuspendClub", "Clubs", new { id = item.ClubId })">
                                <i class="fas fa-check-circle" style="color: #ffc107;"></i> Unsuspend
                            </a>
                            <a class="tab-item" href="@Url.Action("Delete", "Clubs", new { id = item.ClubId })" onclick="return confirm('Are you sure you want to delete this item?');">
                                <i class="fas fa-trash" style="color: red;"></i> Delete
                            </a>
                        </div>
                    </td> *@
        </tr>
}
    </tbody>
</table>
</div>
