@model IEnumerable<MyField.Models.SportNews>
@inject MyField.Interfaces.IEncryptionService encryptionService

@{
    ViewData["Title"] = "Sport News";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<head>
    <style>
        .italic {
            font-style: italic;
            font-size: 12px;
        }

        .news-image {
            max-height: 300px; 
            width: auto;
        }
    </style>
</head>
<br />
@await Html.PartialAsync("_HomeButton")
<h4 class="text-center">Breaking News</h4>
<br />
@if(Model.Any())
{
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            var ecryptedNewsId = encryptionService.Encrypt(item.NewsId);

            <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
                <div class="card">

                    <div class="newsImageContainer">
                        <img src="~/@item.NewsImage" alt="@item.NewsHeading" class="card-img-top" style="height:100%; width:100%; object-fit:cover;" />
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@item.NewsHeading</h5>
                        <p class="card-text">
                            @if (item.NewsBody.Length > 100)
                            {
                                @item.NewsBody.Substring(0, 100) <text>...</text>
                                <a href="@Url.Action("Details", "SportNews", new { newsId = ecryptedNewsId })">Read More</a>
                            }
                            else
                            {
                                @item.NewsBody
                            }
                        </p>
                        <p class="card-text">
                            <small class="text-muted italic">@item.PublishedDate.ToString("dd MMMM, yyyy - HH:mm")</small>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">There are no sport news yet.</p>
}
