@model MyField.ViewModels.PrivacyAndSecurityViewModel
@inject MyField.Interfaces.IEncryptionService encryptionService
@{
    ViewData["Title"] = "Privacy and security";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";

    var encryptedUserId = encryptionService.Encrypt(Model.UserId);
}

<br />
@await Html.PartialAsync("_HomeButton")
<h4 style="text-align:center;">Account and security</h4>
<br />
<div class="security-description-container">
    <p class="text-center">
        <i class="fa fa-lock"></i> Manage your password and security options to ensure secure authentication into this system. Update your password, enable two-factor authentication, and explore other security settings.
    </p>
    @if (TempData["Message"] != null)
    {
        <div id="tempDataMessage" class="alert @(TempData["Message"].ToString().Contains("successfully") ? "alert-success" : "alert-danger")" role="alert">
            @TempData["Message"]
            <span class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </span>
        </div>
    }
</div>

<div class="user-profile-container clickable" onclick="redirectToProfile('@encryptedUserId', '@Model.UserRole')">
    <div class="profile-info">
        <img src="@Url.Content("~/" + Model.ProfilePicture)" alt="Profile Photo" class="profile-image">
        <div class="profile-details">
            <p class="profile-label">Profile</p>
            <p class="profile-username">@Model.FullNames</p>
        </div>
    </div>
    <span class="profile-arrow"><i class="fas fa-chevron-right"></i></span>
</div>

<div class="user-profile-container clickable" onclick="redirectToChangePassword()">
    <div class="profile-info">
        <p><i class="fa fa-shield-alt"></i> Change password</p>
    </div>
    <span class="profile-arrow"><i class="fas fa-chevron-right"></i></span>
</div>

<script>
    function redirectToProfile(encryptedUserId, role) {
        let url = '';

        if (role === 'Player') {
            url = '@Url.Action("PlayerProfile", "Users")' + '?userId=' + encodeURIComponent(encryptedUserId);
        } else if (role === 'Club Administrator' || role === 'Club Manager') {
            url = '@Url.Action("Profile", "Users")' + '?userId=' + encodeURIComponent(encryptedUserId);
        } else {
            url = '@Url.Action("UserProfile", "Users")' + '?userId=' + encodeURIComponent(encryptedUserId);
        }

        window.location.href = url;
    }

    function redirectToChangePassword() {
        var url = '@Url.Page("/Account/Manage/ChangePassword", null, new { area = "Identity" })';
        window.location.href = url;
    }

    setTimeout(function () {
        var tempDataMessage = document.getElementById("tempDataMessage");
        if (tempDataMessage) {
            tempDataMessage.style.display = "none";
        }
    }, 5000);
</script>

