@model MyField.ViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Identity
@using MyField.Data
@inject SignInManager<UserBaseModel> SignInManager
@inject UserManager<UserBaseModel> UserManager
@inject Ksans_SportsDbContext _context

@{
    var userRole = _context.UserRoles
        .Where(ur => ur.UserId == Model.UserId)
        .Join(_context.Roles,
         ur => ur.RoleId,
         r => r.Id,
         (ur, r) => r.Name)
        .FirstOrDefault();

    var logMessages = TempData["LogMessages"] as List<string> ?? new List<string>();
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_HomeButton")
<br />
@if (User.IsInRole("Personnel Administrator"))
{
    <h5 class="text-center">@Model.Names @Model.LastName Profile</h5>
}
else
{
    <h5 class="text-center">Profile</h5>
}
<br />
<div class="club-edit-container" style="overflow:hidden;">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3 text-center">
            <div class="profile-picture-container">
                <img id="profile-image-preview" src="~/@Model.ProfilePicture" alt="Current Profile Picture" class="club-badge-image" />
            </div>
        </div>
        <h5 style="margin-top:4px; margin-bottom:10px;" class="text-center">@Model.Names @Model.LastName</h5>
        <p class="text-center">@ViewBag.UserRole</p>
        <div class="row mb-3">
            <div class="col-6">
                <label><i class="fa fa-user"></i> Club:</label>
            </div>
            <div class="col-6">
                <p class="form-control-static">@ViewBag.Club</p>
            </div>
        </div>
        @if (User.IsInRole("Club Administrator") || User.IsInRole("Personnel Administrator") || User.IsInRole("Player") || User.IsInRole("News Administrator") || User.IsInRole("News Updator") || User.IsInRole("Club Manager"))
        {
            <div class="row mb-3">
                <div class="col-6">
                    <label><i class="fa fa-phone-alt"></i> Phone number:</label>
                </div>
                <div class="col-6">
                    <p class="form-control-static">@Model.Phone</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label><i class="fa fa-envelope"></i> Email address:</label>
                </div>
                <div class="col-6">
                    <p class="form-control-static">@Model.Email</p>
                </div>
            </div>
        }
        else
        {
          
        }

        <div class="row mb-5">
            <div class="col-6">
                <label><i class="fa fa-calendar-alt"></i> Date of Birth:</label>
            </div>
            <div class="col-6">
                @Model.DateOfBirth.ToString("dd MMM, yyyy")
            </div>
        </div>
        @if (User.IsInRole("Personnel Administrator"))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="display: flex; justify-content: flex-end;">
                        <a href="@Url.Action("UpdateProfile", new { userId = @Model.UserId })" class="btn btn-outline-primary">
                            <i class="fa fa-pen"></i> Update
                        </a>
                    </div>
                </div>
            </div>
        }
        else if (User.IsInRole("Club Administrator"))
        {
            if (userRole == "Club Manager")
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="display: flex; justify-content: flex-end;">
                            <a href="@Url.Action("UpdateClubManager", new { userId = @Model.UserId })" class="btn btn-outline-primary">
                                <i class="fa fa-pen"></i> Update
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="text-center" style="font-family:Arial;"><i class="fa fa-lock"> This profile is managed by K&S Foundation, if you want to update it, please contact your club administrator. </i></p>
            }
        }
        else if (User.IsInRole("Club Manager"))
        {
            <p class="text-center" style="font-family:Arial;"><i class="fa fa-lock"> This profile is managed by @ViewBag.Club, if you want to update it, please contact your club administrator. </i></p>
        }
        else{

        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function previewProfilePicture(event) {
                var reader = new FileReader();
                reader.onload = function () {
                    var output = document.getElementById('profile-image-preview');
                    output.src = reader.result;
                    output.style.display = 'block';
                };
                reader.readAsDataURL(event.target.files[0]);
            }

            document.getElementById('Input_ProfilePicture').addEventListener('change', function (event) {
                previewProfilePicture(event);
            });
        });

        (function () {
            var logMessages = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(logMessages));
            logMessages.forEach(function (message) {
                console.log(message);
            });
        })();
    </script>
}

<style>
    .club-edit-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-picture-container {
        border: 1px solid #ccc;
        padding: 0;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        overflow: hidden;
        position: relative;
        margin: auto;
        background-color: #fff;
    }

    .club-badge-image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-control-static {
        padding-top: .375rem;
        padding-bottom: .375rem;
        margin-bottom: 0;
        line-height: 1.5;
        display: block;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .text-danger {
        font-size: 0.875em;
    }
</style>
