@model IEnumerable<MyField.Models.Fine>
<br />

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-borderless">
            <thead>
                <tr style="color:white;background-color: #324260; white-space:nowrap;">
                    <th>Offence</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Payment Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="ellipsis">
                        <td>@Html.DisplayFor(modelItem => item.FineDetails)</td>
                        <td>@Html.DisplayFor(modelItem => item.FineAmount)</td>
                        <td>@Html.DisplayFor(modelItem => item.FineDuDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaymentStatus)</td>
                        <td>
                            <a href="@Url.Action("PayFine", "Billings",
                                        new { fineId = item.FineId})" class="btn btn-outline-success btn-sm">
                                <i class="fas fa-money-bill-wave "></i>
                                Pay @ViewBag.FineAmount
                            </a>
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.FineId"><i class="fa fa-info-circle"></i> Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-center" style="margin-top: 20vh; margin-bottom: 20vh;">
        There are no overdue fines for yur club yet.
    </p>
}
