@model MyField.Models.Fine

@{
    ViewData["Title"] = ViewBag.ClubName + " Fines";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_HomeButton")
<br />
<h4 class="text-center">@ViewBag.ClubName Fines</h4>
<br />

<ul class="nav nav-tabs" id="finesTabs" role="tablist" style="overflow-x: auto; white-space: nowrap; display: flex; flex-wrap: nowrap; scrollbar-width: none; -ms-overflow-style: none;">
    <li class="nav-item" role="presentation" style="display: inline-block; margin-bottom: 0;">
        <button class="nav-link active" id="pendingFines-tab" data-bs-toggle="tab" data-bs-target="#pendingFines" type="button" role="tab" aria-controls="pendingFines" aria-selected="true" onclick="loadTab('pendingFines')">Pending</button>
    </li>
    <li class="nav-item" role="presentation" style="display: inline-block; margin-bottom: 0; margin-left: 10px;">
        <button class="nav-link" id="paidFines-tab" data-bs-toggle="tab" data-bs-target="#paidFines" type="button" role="tab" aria-controls="paidFines" aria-selected="false" onclick="loadTab('paidFines')">Paid</button>
    </li>
    <li class="nav-item" role="presentation" style="display: inline-block; margin-bottom: 0; margin-left: 10px;">
        <button class="nav-link" id="overDueFines-tab" data-bs-toggle="tab" data-bs-target="#overDueFines" type="button" role="tab" aria-controls="overDueFines" aria-selected="false" onclick="loadTab('overDueFines')">Over Due</button>
    </li>
</ul>
@if (TempData["Message"] != null)
{
    <div id="tempDataMessage" class="alert @(TempData["Message"].ToString().Contains("successfully") ? "alert-success" : "alert-danger")" role="alert">
        @TempData["Message"]
        <span class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </span>
    </div>
}

<div class="tab-content">
    <div class="tab-pane fade show active" id="pendingFines" role="tabpanel" aria-labelledby="pendingFines-tab"></div>
    <div class="tab-pane fade" id="paidFines" role="tabpanel" aria-labelledby="paidFines-tab"></div>
    <div class="tab-pane fade" id="overDueFines" role="tabpanel" aria-labelledby="overDueFines-tab"></div>
</div>

<div id="errorMessage" style="display: none;"></div>

<script>
    function loadTab(tabName) {

        $('.nav-link').removeClass('active');

        $('#' + tabName + '-tab').addClass('active');

        $('.tab-pane').removeClass('show active');

        $('#' + tabName).addClass('show active');

        if ($('#' + tabName).html().trim() === '') {
            var url;
            if (tabName === 'pendingFines') {
                url = '@Url.Action("MyPendingClubFines", "Fines")';
            } else if (tabName === 'paidFines') {
                url = '@Url.Action("MyPaidClubFines", "Fines")';
            }
            else if (tabName === 'overDueFines') {
                url = '@Url.Action("MyOverDueClubFines", "Fines")';
            }

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#' + tabName).html(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error("Error:", errorThrown);
                }
            });
        }
    }

    $(document).ready(function () {
        loadTab('pendingFines');
    });

    setTimeout(function () {
        document.getElementById("tempDataMessage").style.display = "none";
    }, 3000);
</script>
