@model IEnumerable<MyField.Models.Formation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormationImage)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormationName)
            </td>
            <td>
                    <img src="~/@item.FormationImage" alt="@item.FormationName" class="club-badge-image" style="margin-right: 20px;" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FormationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FormationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FormationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
