@model MyField.ViewModels.AwayYellowViewModel


<div>
    <form id="awayYellowForm" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <label for="awayYellowCommitedBy" class="col-sm-3 col-form-label">Commited by:</label>
            <div class="col-sm-9">
                <select id="awayYellowCommitedBy" name="awayYellowCommitedBy" class="form-control">
                    <option value="">Select Player</option>
                    @if (Model?.Players != null && Model.Players.Any())
                    {
                        foreach (var player in Model.Players)
                        {
                            <option value="@player.PlayerId">
                                @player.FullName (@player.JerseyNumber)
                            </option>
                        }
                    }
                    else
                    {
                        <option value="">No players available</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label for="awayYellowCardReason" class="col-sm-3 col-form-label">Reason:</label>
            <div class="col-sm-9">
                <select id="awayYellowCardReason" name="awayYellowCardReason" class="form-control">
                    <option value="">Select reason</option>
                    @if (Model.YellowCardTypes != null)
                    {
                        foreach (var penaltyType in Model.YellowCardTypes)
                        {
                            <option value="@penaltyType.Value">
                                @penaltyType.Text
                            </option>
                        }
                    }
                    else
                    {
                        <option value="">No penalty types available</option>
                    }
                </select>
            </div>
        </div>
    </form>

</div>
